<section
  class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15"
  style="background-image: url(assets/images/bcg2.jpg)"
>
  <div class="dash title-event t-center m-b-52">
    <span class="tit2 p-l-15 p-r-15" style="font-size: 70px"> Dashboard </span>
    <h3>
      <a routerLink="/admin/dashboard" class="p-1" style="font-size: 20px"
        >Dashboard</a
      >
    </h3>
  </div>
</section> 

<!-- Event -->
<section class="section-event">
  <div class="wrap-slick2">
    <div class="slick2">
      <div class="item-slick2 item1-slick2" style="height: 200px">
        <div class="wrap-content-slide2 p-t-15">
          <!-- <div class="container">
            <div class="flex-sa-m flex-w w-full m-t-40">
              <div class="size11 flex-col-c-m">

                 <span class="dis-block t-center txt7 m-b-2"> 25 </span>

                                <span class="dis-block t-center txt8" style="font-size: 20px; padding-bottom: 20px;"> Customers </span>
                            </div>

                            <div class="size11 flex-col-c-m ">
                                <span class="dis-block t-center txt7 m-b-2"> 59 </span>

                                <span class="dis-block t-center txt8" style="font-size: 20px; padding-bottom: 20px;"> Meals </span>
                            </div>

                            <div class="size11 flex-col-c-m ">
                                <span class="dis-block t-center txt7 m-b-2"> 12 </span>

                                <span class="dis-block t-center txt8" style="font-size: 20px; padding-bottom: 20px;">Bookings </span> 
              </div>

              <div class="size11 flex-col-c-m">
                <span class="dis-block t-center txt7 m-b-2"> 56 </span>

                <span class="dis-block t-center txt8" style="font-size: 20px"
                  >Custom Bookings
                </span>
              </div>
            </div>
          </div> -->
          
          <h2 class="tit6 t-center m-t-40" style="color: rgb(111, 91, 91);">
            Welcome Admin
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
