
<!-- Front page -->

  <div class="header-intro parallax100 t-center p-t-135 p-b-158 container-fluid "
    style="background-image: url(assets/images/bcg6.jpg);height: 745px;">
    <div class="cls1 tit2 p-l-15 p-r-15 animated visible " style="padding-top: 150px; font-size: 60px;"> Welcome to </div>

    <h3 class="cls2 tit4 t-center p-l-15 p-r-15 p-t-3 animated visible " style="font-size: 70px; " >Foodbox Elite Services</h3>

    <div class="wrap-btn-slide1 animated visible" data-appear="zoomIn">
      <!-- Button1 -->
      <a routerLink="/customer/view-meals" class="btn1 flex-c-m size1 txt3 trans-0-4" style="margin-left: 650px; margin-top: 50px; transition: all 1s; ;">
        Look Menu
      </a>
    </div>
  </div>



<!-- Welcome -->
<section class="section-welcome bg1-pattern p-t-120 p-b-105">

  <div class="container">
    <div class="row">
      <div class="col-md-6 p-t-45 p-b-30">
        <div class="wrap-text-welcome t-center">
          <span class="tit2 t-center"> Foodbox Elite Services</span>

          <h3 class="tit3 t-center m-b-35 m-t-5">Welcomes You</h3>

          <p class="t-center m-b-22 size3 m-l-r-auto">
            Donec quis lorem nulla. Nunc eu odio mi. Morbi nec lobortis est. Sed
            fringilla, nunc sed imperdiet lacinia, nisl ante egestas mi, ac
            facilisis ligula sem id neque.
          </p>

        </div>
      </div>

      <div class="col-md-6 p-b-30">
        <div class="wrap-pic-welcome size3 bo-rad-10 hov-img-zoom m-l-r-auto">
          <img src="assets/images/bcg5.jpg" alt="IMG-OUR" />
        </div>
      </div>
    </div>
  </div>
</section>



<!-- Intro -->
<section class="section-intro">
  <div class="header-intro parallax100 t-center p-t-135 p-b-158"
    style="background-image: url(assets/images/bg-event-03.jpg)">
    <span class="tit2 p-l-15 p-r-15"> Discover </span>

    <h3 class="tit4 t-center p-l-15 p-r-15 p-t-3">Our Services</h3>
  </div>

</section>

<!-- Our menu -->
<section class="section-ourmenu bg2-pattern p-t-115 p-b-120">
  <div class="container">
    <div class="title-section-ourmenu t-center m-b-22">
      <span class="tit2 t-center"> Discover </span>

      <h3 class="tit5 t-center m-t-2">Our Meals</h3>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-sm-4">
            <!-- Item our menu -->
            <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
              <img src="assets/images/bcg5.jpg" alt="IMG-MENU" />

              <!-- Button2 -->
              <a routerLink="/customer/view-meals" class="btn2 flex-c-m txt5 ab-c-m size5">
                Breakfast
              </a>
            </div>
          </div>

          <div class="col-sm-4">

            <!-- Item our menu -->
            <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
              <img src="assets/images/bcg2.jpg" alt="IMG-MENU" />

              <!-- Button2 -->
              <a routerLink="/customer/view-meals" class="btn2 flex-c-m txt5 ab-c-m size5">
                Lunch
              </a>
            </div>
          </div>

          <div class="col-sm-4" >
            <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
              <img src="assets/images/bcg5.jpg" alt="IMG-MENU" />
    
              <!-- Button2 -->
              <a routerLink="/customer/view-meals" class="btn2 flex-c-m txt5 ab-c-m size7">
                Dinner
              </a>
    
        </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>


<!-- Register -->
<div class="section-signup bg1-pattern p-t-85 p-b-85">
  <form class="flex-c-m flex-w flex-col-c-m-lg p-l-5 p-r-5">
    <span class="txt5 m-10">
      Click to Register
    </span>
    <!-- Button3 -->
    <button type="submit" routerLink="/customer/register" class="btn3 flex-c-m size18 txt11 trans-0-4 m-10">
      Register Now
    </button>
  </form>
</div>
